body {
  font: 14px Tahoma;
  background-image:url('http://www.wallpapersbrowse.com/images/zj/zj4cwzk.jpg');
  color: #484646;
  background-size: cover;
}
h1{
  color: #8d8d8d;
}
.container {
  width: 50%;
  margin: 0 auto;
}
.list {
  background-color: #ccc;
  overflow: auto;
  counter-reset: heading;
  opacity: 0.8;
  h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  &__item {
    &-header {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1px;
      // color: #a6b0a8;
    }
    &-footer{
      display: block;
      text-align: right;
      padding: 10px;
      i{
        cursor: pointer;
        &:hover{
          color: forestgreen;
        }
      }
      input{
        width: 100px;
        padding: 5px;
        outline: none;
        color: #484646;
        //border: 0;
        &[type='submit']{
          background: #484646;
          color: #ccc;
          cursor: pointer;
          &:hover{
            background: #272727;
          }
        }
      }
    }
    display: grid;
    grid-template-columns: 30px 1fr 55px;
    padding: 10px;
    border-bottom: 1px solid #a6b0a8;
    .text {
      .load-num:hover {
        color: #000;
        cursor: pointer;
        i {
          display: inline-block;
        }
      }
      i {
        display: none;
      }
    }
    .icon:before{
      counter-increment: heading;
      content:  counter(heading) ".";
    }
  }
}
.actions {
  &__item {
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    &:hover {
      color: #000;
      font-weight: bold;
    }
  }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-body{
  padding: 15px;
  text-align: left;
  color: #42b983;
  input{
    width: 100%;
    margin: 5px 0 0;
    box-sizing: border-box;
  }
  label{
    display: inline-block;
  }
}
.modal-header{
  text-align: left;
  background: #42b983;
  color: #f0f0f0;
  padding: 15px;
}

.modal-footer{
  padding: 0 15px 10px;
  button{
    padding: 5px 15px;
    background: #42b983;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: 0;
    &:hover{
      background: #328f65;
    }
  }
}
.btn{
  border: 0;
  background: #666;
  color: #f0f0f0;
  outline: none;
  cursor: pointer;
  padding: 5px 15px;
  &:hover{
    background: #453e3b;
    color: #fff;
  }
}
